* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	//font-family: ;

	body {
		background: rgb(234, 234, 234);
		color: darkslategray;

		section {
			margin-top: 2rem;
			margin-bottom: 2rem;
			padding-left: 1.5rem;
			padding-right: 1.5rem;

			.header__title {
				color: darkslategray;
				text-align: center;
				font-size: 1.5rem;
				font-weight: 700;
				margin-bottom: 3.5rem;
			}

			.header__desc {
				color: gray;
				font-size: 1rem;
				font-weight: 700;
				margin-bottom: 0.5rem;
			}

			input:not([type="checkbox"]) {
				border: none;
				outline: none;
				cursor: initial;
			}

			.header__form input[type="text"] {
				display: block;
				width: 100%;
				font-size: 1.1rem;
				padding: 1rem 1.5rem;
				color: darkslategray;
				background-color: white;
				border-radius: 0.5rem;
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
				margin-bottom: 1.5rem;
			}

			.header__form input[type="submit"] {
				display: block;
				width: 100%;
				font-size: 1.1rem;
				padding: 1rem 1.5rem;
				color: white;
				background-color: rgb(235, 100, 10);
				border-radius: 0.5rem;
				box-shadow: 0 1px 3px rgb(217, 107, 24);
				cursor: pointer;
				transition: 0.2s ease-in-out;
			}
			.header__form input[type="submit"]:hover {
				opacity: 0.75;
			}

			.todo__list {
				margin: 1rem 0;

				.todo__content li {
					display: flex;
					align-items: center;
					background-color: white;
					padding: 1rem;
					border-radius: 0.5rem;
					box-shadow: rgba(0, 0, 0, 0.1);
					margin-bottom: 1rem;
					color: gray;
					font-size: 1rem;
					font-weight: 700;
					margin-bottom: 0.5rem;
					transition: 0.2s ease-in-out;
				}

				.todo__content li:hover {
					background-color: rgb(255, 93, 93);
					color: white;
				}
			}
		}
	}
}
